.bg-light-red{
    background-color: #e75d7f;
}
.bg-light-green{
    background-color: #5de7be;
}
.bg-light-orange{
    background-color: #e7bb5d;
}
.bg-light-blue{
    background-color: #3c8ae4;
}
.bg-light-gray{
    background-color: #b4b3b3;
}